.wrapper {
  padding-top: 35px;
  background-color: transparent;
  height: 100%;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: auto;
}
